@import "tailwindcss";
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
}


.navbar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #2563eb;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: #374151;
    font-size: 16px;
}

.nav-links a:hover{
    color: #2563eb;
}

.nav-button {
    background-color: #2563eb;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #1d4ed8;
}


.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
    background-color: #f8fafc;
}

.hero-content {
    max-width: 800px;
}

.hero-subtitle {
    color: #2563eb;
    font-size: 14px;
    font-weight: 700px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 24px;
    color: #111827;
}

.hero-description {
    font-size: 18px;
    line-height: 1.7;
    color: #6b7280;
    max-width: 650px;
    margin: 0 auto 32px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.primary-button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.secondary-button {
    background-color: white;
    color: #2563eb;
    border: 1px solid #2563eb;
    padding: 14px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
} */